/* Mobile */
body {
	background: #fff;
	color: #3b3f42;
	font-family: "Zen Kaku Gothic New", sans-serif;
	font-size: 1.4em;
	font-style: normal;
	font-weight: 300;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 2em;
	font-weight: 500;
	line-height: 1.4em;
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.2em;
}

p {
	line-height: 1.4em;
	margin: 1em 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #a95ebb;
	text-decoration: none;
}

a:hover, a:active {
	color: #8f44a2;
	text-decoration: none;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
}

::selection {
	background: #bc82ca;
	color: #fff;
}

.main {
	margin: 0 auto;
	padding: 1.6em;
}

.content__avatar {
	border-radius: 50%;
	width: 170px;
}

.content__row {
	margin: 1.6em 0;
}

.content__heading {
	margin-top: 0;
}

.content__footer {
	margin-bottom: 0;
}

.content__socials {
	display: inline-block;
}

.content__socials a {
	margin: 0 0.2em;
}

.content__socials a:first-child {
	margin-left: 0;
}

.content__socials a:last-child {
	margin-right: 0;
}

.content__socials:hover a {
    color: #e2cae8;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.content__socials a:hover {
    color: #8f44a2;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

/* iPad */
@media (min-width: 1024px) {
	.main {
		padding: 0;
	}

	.content {
		display: block;
	}

	.content__left {
		position: fixed;
		left: 0;
		top: 0;
		width: 40%;
		height: 100vh;
    }

	.content__right {
		float: right;
		width: 60%;
	}

	.content__banner {
		background: url(assets/profile.JPG);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.content__avatar {
		display: none;
	}

	.content__row {
		margin: 0;
		padding: 0 1.6em 1.6em;
	}

	.content__heading {
		padding-top: 1.6em;
	}
}
